@import 'mixins';

$page-min-width: 300px;
$page-max-width: 600px;
$page-min-height: 400px;
$page-max-height: 800px;
$general-padding: 10px;

/* * {
  display: block;
  position: relative;
} */

head {
  display: none;
}

body {
  background: white;
  padding: $general-padding 0;
}

#site, .page-container {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .container, .page {
    position: relative;
    @include center-block(10%);
    border: 3px solid black;
    background: #ffffff;
    width: 30%;
    min-width: $page-min-width;
    max-width: $page-max-width;
    height: 50%;
    min-height: $page-min-height;
    max-height: $page-max-height;
  }
}

#site {

  .container {
    display: flex;
    flex-direction: column;

    .header, .site-content {
      position: relative;
      width: 100%;
      margin: 0;
    }

    .site-content {
      flex: 1;
    }

    .header {
      border-bottom: 3px solid black;
      text-align: center;

      a {
        color: black;
        text-decoration: none;
      }

      .site-title, .site-tagline {
        margin: 5px 0;
        width: 100%;
      }
    }

    .menu-bar, .news-bar {
      position: absolute;
      top: 0;
      margin: 0;
      border: 0;
      padding: 0;
      height: 80%;
    }

    .menu-bar {
      left: 0;
      width: 35%;
      border: 0;
      overflow-y: auto;

      .menu-bar-contents {
        position: relative;
        height: 100%;

        ul {
          list-style: none;
          margin: 0;
          padding: 5px;

          li {
            @extend .clickable;
            margin-bottom: 5px;
            color: black;
            text-decoration: underline;
            font-size: 0.8em;
          }
        }

        a {
          color: inherit;
        }

        a:after {
          content: '\2192';
          margin-left: 0;
        }
      }
    }

    .news-bar {
      right: 0;
      width: 64%;
      border: 0;

      .news-box-container {
        width: auto;
        height: 100%;
        margin: 5px $general-padding;
        box-sizing: border-box;
        
        .news-box {
          position: relative;
          margin: 0;
          padding: 0;
          width: 100%;
          height: 100%;
          border: 2px solid black;
        }

        h4 {
          margin: $general-padding 0 5px 5px;
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 5px $general-padding;

          li {
            font-size: 0.9em;
            margin-bottom: 5px;
            color: black;

            span {
              @extend .clickable;
              text-decoration: underline;
            }

            small {
              color: gray;
              font-style: italic;
              font-size: 0.7em;
              margin-left: 5px;
            }
          }
        }
      }
    }

    .footer {
      display: table;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 20%;
      border: 0;
      padding: 0;
      margin: 0;

      .left-box, .right-box {
        display: table-cell;
        margin: 0;
        padding: 0;
        width: 50%;
        height: 100%;
        text-align: center;
        vertical-align: middle;

        span {
          cursor: pointer;
          margin-top: 10px;
        }
      }

      .left-box {
        left: 0;
        border: 0;
      }

      .right-box {
        right: 0;
        border: 0;
      }
    }
  }
}

.page {
  padding: 0;
  z-index: 999;
  overflow: hidden;

  .close-page-button {
    position: absolute;
    top: 3px;
    right: 15px;
    padding: 3px;
    line-height: 0.5em;
  }

  .page-content-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;

    .page-content {
      margin: 20px 0;
      padding: 0 $general-padding;
      box-sizing: border-box;

      span {
        display: inline;
      }

      img {
        width: 100%;
        min-width: $page-min-width - ($general-padding * 2);
        max-width: $page-max-width - ($general-padding * 2);
        height: auto;
      }
    }
  }
}

.toggle-button {
  @extend .clickable;
  @extend .right;

  font-weight: normal !important;
  font-size: 0.5em;
}

.notification-box, .save-button {
  position: fixed;
  z-index: 10;
  right: $general-padding;
  width: 200px;

  .notification-box-content {
    background: #88dd88;
    position: relative;
    padding: $general-padding;
  }
}

.save-button {
  bottom: $general-padding;
}

#admin {
  margin: 20px auto 40px;

  .content-container {
    @include center-block(0);
    width: 70%;
    min-width: 300px;
    max-width: 800px;
  }

  .content-title {
    margin: 20px auto 5px;
  }

  .content-area {
    background: #dedede;
    margin: $general-padding auto;
    padding: $general-padding;
  }
}

label, span, input {
  display: block;
  position: relative;
}

label {
  margin-top: $general-padding;
  width: 50%;

  span {
    font-weight: bold;
  }
}

label.full-width {
  width: 100%;
}

.page-url {
  width: 90%;
}

.delete-button {
  @extend .right;
}

.delete-page-button, .delete-news-button {
  @extend .delete-button;
}

.sort-handle {
  cursor: move;
}

// Because the perfect-scrollbar plugin can't seem to do this itself:
.ps-scrollbar-y {

}
