.clickable, #site .container .menu-bar .menu-bar-contents ul li, #site .container .news-bar .news-box-container ul li span, .toggle-button {
  cursor: pointer; }

.right, .toggle-button, .delete-button, .delete-page-button, .delete-news-button {
  float: right; }

.left {
  float: left; }

* {
  font-family: 'Raleway', sans-serif; }

head {
  display: none; }

body {
  background: white;
  padding: 10px 0; }

#site, .page-container {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  #site .container, #site .page, .page-container .container, .page-container .page {
    position: relative;
    margin: 10% auto;
    background: #ffffff;
    width: 30%;
    min-width: 300px;
    max-width: 600px;
    height: 50%;
    min-height: 400px;
    max-height: 800px; }
  #site .page, .page-container .page {
    border: 3px solid black; }

#site .container {
  display: flex;
  flex-direction: column; }
  #site .container .header, #site .container .site-content {
    position: relative;
    width: 100%;
    margin: 0; }
  #site .container .site-content {
    flex: 1; }
  #site .container .header {
    border: 0;
    text-align: center; }
    #site .container .header a {
      color: black;
      text-decoration: none; }
    #site .container .header .site-title {
      margin: 5px 0;
      width: 100%; }
  #site .container .menu-bar, #site .container .news-bar {
    position: absolute;
    top: 0;
    margin: 0;
    border: 0;
    padding: 0;
    height: 80%; }
  #site .container .menu-bar {
    left: 0;
    width: 35%;
    border: 0;
    overflow-y: auto; }
    #site .container .menu-bar .menu-bar-contents {
      position: relative;
      height: 100%; }
      #site .container .menu-bar .menu-bar-contents ul {
        list-style: none;
        margin: 0;
        padding: 5px; }
        #site .container .menu-bar .menu-bar-contents ul li {
          margin-bottom: 5px;
          color: black;
          text-decoration: underline; }
      #site .container .menu-bar .menu-bar-contents a {
        color: inherit; }
  #site .container .news-bar {
    right: 0;
    width: 64%;
    border: 0; }
    #site .container .news-bar .news-box-container {
      width: auto;
      height: 100%;
      margin: 5px 10px;
      box-sizing: border-box; }
      #site .container .news-bar .news-box-container .news-box {
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        border: 2px solid black; }
      #site .container .news-bar .news-box-container h4 {
        margin: 10px 0 5px 5px; }
      #site .container .news-bar .news-box-container ul {
        list-style: none;
        margin: 0;
        padding: 5px 10px; }
        #site .container .news-bar .news-box-container ul li {
          margin-bottom: 5px;
          color: black; }
          #site .container .news-bar .news-box-container ul li span {
            display: inline;
            text-decoration: underline; }
          #site .container .news-bar .news-box-container ul li small {
            color: gray;
            font-style: italic;
            font-size: 0.7em;
            margin-left: 5px; }
        #site .container .news-bar .news-box-container ul li:before {
          content: '- '; }
  #site .container .footer {
    display: table;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    border: 0;
    padding: 0;
    margin: 0; }
    #site .container .footer .left-box, #site .container .footer .right-box {
      display: table-cell;
      margin: 0;
      padding: 0;
      width: 50%;
      height: 100%;
      text-align: center;
      vertical-align: middle; }
      #site .container .footer .left-box span, #site .container .footer .right-box span {
        cursor: pointer;
        margin-top: 10px; }
    #site .container .footer .left-box {
      left: 0;
      border: 0; }
    #site .container .footer .right-box {
      right: 0;
      border: 0; }

.page {
  padding: 0;
  z-index: 999;
  overflow: hidden; }
  .page .close-page-button {
    position: absolute;
    top: 3px;
    right: 15px;
    padding: 3px;
    line-height: 0.5em; }
  .page .page-content-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto; }
    .page .page-content-container .page-content {
      margin: 20px 0;
      padding: 0 10px;
      box-sizing: border-box; }
      .page .page-content-container .page-content span {
        display: inline; }
      .page .page-content-container .page-content img {
        width: 100%;
        min-width: 280px;
        max-width: 580px;
        height: auto; }
      .page .page-content-container .page-content iframe {
        border: 0;
        width: 100%;
        min-width: 280px;
        max-width: 580px;
        height: 100%;
        min-height: 360px;
        max-height: 760px; }
    .page .page-content-container .fill-space {
      margin: 0 !important;
      padding: 0 !important;
      width: 100%;
      height: 100%; }
      .page .page-content-container .fill-space iframe {
        border: 0;
        width: 100%;
        height: 100%; }

.toggle-button {
  font-weight: normal !important;
  font-size: 0.5em; }

.notification-box, .save-button {
  position: fixed;
  z-index: 10;
  right: 10px;
  width: 200px; }
  .notification-box .notification-box-content, .save-button .notification-box-content {
    background: #88dd88;
    position: relative;
    padding: 10px; }

.save-button {
  bottom: 10px; }

#admin {
  margin: 20px auto 40px; }
  #admin .content-container {
    margin: 0 auto;
    width: 70%;
    min-width: 300px;
    max-width: 800px; }
  #admin .content-title {
    margin: 20px auto 5px; }
  #admin .content-area {
    background: #dedede;
    margin: 10px auto;
    padding: 10px; }

label, span, input {
  display: block;
  position: relative; }

label {
  margin-top: 10px;
  width: 50%; }
  label span {
    font-weight: bold; }

label.full-width {
  width: 100%; }

.page-url {
  width: 90%; }

.sort-handle {
  cursor: move; }
